[Unit]
Description=PrintBox: set up any plugged-in USB printer
After=cups.service
Wants=cups.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/printbox-autoadd.sh

[Install]
WantedBy=multi-user.target
